#delivery-selector {
	.info {
		.metadata {
			max-width: 85%;

			hr {
				margin: 1em auto;
			}

			.field{
				margin-bottom: 15px;
			}

			.button-wrapper{
				margin: 10px 0 ;
				text-align: right
			}
		}
	}
}
